<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" charset="utf-8"></script>
    </head>
    <body>

        <div id="root" class="wrapper">
            <div class="color-top">
            </div>
            <div class="container">
                <div class="app-box">
                    <!---    lista chat contatti box-sinistra    -->
                    <div class="contacts-box">
                        <div class="side-contacts">
                            <div class="nav left">
                                <div class="nav-chat-left">
                                    <div class="avatar-box">
                                        <img :src="'avatars_imgs/avatar_'+user.avatar+'.png'" alt="">
                                    </div>
                                    <div class="name">
                                        <h3>{{user.name}}</h3>
                                    </div>
                                </div>

                                <div class="icon-box">
                                    <i class="fas fa-circle-notch"></i>
                                    <i class="fas fa-comment-alt"></i>
                                    <i class="fas fa-ellipsis-v"></i>
                                </div>
                            </div>
                            <div class="notify">
                                <div class="notify-fas">
                                    <i class="fas fa-bell-slash"></i>
                                </div>

                                <div class="notify-text">
                                    <h4>Ricevi notifiche di nuovi messaggi</h4>
                                    <p>Attiva notifiche desktop</p>
                                </div>

                            </div>
                            <div class="search-chat">

                                <i class="fas fa-search"></i>

                                <input type="text" name="" value="" placeholder="Cerca o inizia una nuova chat">

                            </div>
                            <div class="all-chats">

                                <div class="contacts-chat">
                                    <div @click="change(index)" class="data-contact" v-for="(item, index) in contacts">
                                        <div class="avatar-box">
                                            <img :src="'avatars_imgs/avatar'+item.avatar+'.png'" alt="">
                                        </div>
                                        <div class="name-mess">
                                            <h3>{{item.name}}</h3>
                                            <p>Voglio essere uno sviluppatore!</p>
                                        </div>
                                        <div class="time-info">
                                            <span>20:30</span>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <!--          box live-chat corrente         -->
                    <div class="chat-box">
                        <div class="nav-chat">
                            <div class="nav">
                                <div class="nav-chat-left">
                                    <div class="avatar-box">
                                        <img :src="'avatars_imgs/avatar_'+contactsIndex+'.png'" alt="">
                                    </div>
                                    <div class="name">
                                        <h3>{{contacts[contactsIndex].name}}</h3>
                                        <p>Ultimo accesso oggi alle 15.40</p>
                                    </div>
                                </div>

                                <div class="icon-box right">
                                    <i class="fas fa-search"></i>
                                    <i class="fas fa-paperclip"></i>
                                    <i class="fas fa-ellipsis-v"></i>
                                </div>
                            </div>

                        </div>
                        <div class="chat-messages">

                            <div v-for="item in contacts[contactsIndex].messages"
                            :class="item.status">{{item.message}}</div>

                        </div>
                        <div class="chat-input">
                            <span><i class="far fa-smile fa-2x"></i></span>
                            <input id="input-text" type="text" name="" value="" placeholder="scrivi un messaggio">
                            <span><i class="fas fa-microphone fa-2x"></i></span>
                        </div>
                    </div>
                </div>

            </div>


        </div>

        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
