*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: lightgrey;


}

h3, h4{
    color: rgba(0, 0, 0, 0.7)
}

.color-top {
    width: 100%;
    height: 120px;
    background-color: #128c7f;
}

.wrapper{
    width: 100%;
    height: 100vh;
    position:absolute;

}

.container{
    max-width:1200px;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 20px auto;

}

.app-box{
    width: 100%;
    height: 100%;
    display: flex;
}

.contacts-box{
    width: 35%;
    height: 100%;
    background-color: #fff;

}
.chat-box{
    width: 65%;
    background-image: url(https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat-messages{
    width: 100%;
    height: 100vh;
    overflow: auto;
}

.side-contacts{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav{
    width: 100%;
    height: 80px;
    background-color: #ece5dd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

i, p {
    color: rgba(0, 0, 0, 0.5);
}

.left{
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.avatar-box {
    width: 55px;
    height: 55px;
    background-color: #fff;
    border-radius: 50%;

}

.icon-box{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.icon-box.right{
    width: 18%;
}

.nav-chat-left {
    width: 38%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

img{
    width: 100%;
    border-radius: 50%;

}

.notify {
    width: 100%;
    height: 90px;
    background-color: #34B7F1;
    display: flex;
    align-items: center;
    padding-left: 10px;

}

.notify .fas {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 15px;

}

.notify i {
    font-size: 32px;
    color: #34B7F1;
}

.notify-text p {
    color: blue;
    text-decoration: underline;
}


.search-chat {
    width: 100%;
    height: 50px;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-left: 10px;
}
.search-chat input {
    border: none;
    width: 80%;
    height: 100%;
    font-size: 14px;
    padding: 0 10px;
}
.search-chat input:focus{
    outline: none;
}

.all-chats{
    width: 100%;
    height: 100vh;
    overflow-y: auto;
}

.sent{
    background-color: #dcf8c6;
    float: right;
}

.received{
    background-color: #fff;
    float: left;
}

.sent, .received{
    padding: 12px;
    margin: 10px 50px;
    clear: both;
    border-radius: 6px;
    color: #111;
    max-width: 400px;
}

.chat-input{
    width: 100%;
    height: 80px;
    background-color: #ece5dd;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#input-text{
    width: 85%;
    height: 70%;
    border: none;
    padding: 10px;
    border-radius: 4px;
}

.data-contact{
    width: 100%;
    height: 100px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;
}

.name-mess{
    width: 80%;
    padding-left: 10px;
}

.name-mess p{
    margin-top: 6px;
}
